
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}/* 
.nav { grid-area: nav; }
.clubs { grid-area: clubs;}
.calender { grid-area: calender; background-color: greenyellow;}
.todo { grid-area: todo; background-color: antiquewhite;}
 */body{
    padding: 1rem;
    /* height: 100vh;
    width: 100vw; */
    background-color: #CFDCFF;
}
.main-container {
    /* display: grid;
    grid-template:
        'nav clubs clubs clubs clubs clubs clubs clubs calender calender calender calender calender'
        'nav clubs clubs clubs clubs clubs clubs clubs todo todo todo todo todo';
    grid-gap: 3vh 5vw; */
    margin-left: 6rem;
    
    background-color: #5E87F5;
    border-radius: 10px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95vh;
}
/* nav bar */
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-between;
    width: 4rem;
}
li{
    list-style: none;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
    width: auto;
    padding: 60px 0;
    border-radius: 10px;
    background-color: #1D0E2C;
    position: fixed;
}
.nav i{
    color: white;
    font-size: 1.3rem;
    margin: 0 10px;
}

/*  */
/* .description h2{
    display: inline;

} */
.description{
    display: flex;
    gap: 5%;
}

.description textarea{
    width: 100%;
    min-height: 100px;
    resize: none;
    padding: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin: 5% 0; */
}
.main-container p{
    color: white;
}
.right .modifier i{

    font-size: 15px;
}
.right .modifier{
    background: none;
    border: none;
    position: absolute;
   
    bottom: 0px;
    right: 5px;
}
.fa-solid{
    color: #1D0E2C;
    font-size: 15px;
}
.modifier{
    display: block;
    margin: 10px 0 0 auto;
    color: white;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.7px;
    
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-decoration: underline;
}
.right{
    position: relative;
}
.logo{
    height: 80px;
    width: 80px;
    background-color: #CFDCFF;
    border-radius: 50%;
}


.member_count{
    font-size: 12px;
    letter-spacing: 0.5px;
}
.representant{
    display: inline-block;
    
}
.representant_name{
    display: inline-block;
    text-transform: capitalize;
}
.club_name{
    display: inline-block;
}
.member_count{
    display: inline-block;
}

.textarea{
    width: 100%;
 
    position: relative;
}
.textarea i{
    position: absolute;

    right: 0px;
    bottom: 0px;
    cursor: pointer;
    font-size: 15px;
}
h2,h1,th{
    text-transform: capitalize;
}
/* evenets */

#events {

    border-collapse: collapse;
    width: 100%;
  }
  
  #events td, #events th {
    border: 0.5px solid #1D0E2C;
    padding: 8px;
 
  }

  
  #events tr:nth-child(even){background-color: #f2f2f2;}
  #events tr:nth-child(odd){background-color: #fff;}
  
  #events tr:hover {background-color: #ddd;}
  
  #events th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#1D0E2C;
    color: white;
  }

.modifier_event {
    background-color: #5E87F5;
}
