

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}/* 
.nav { grid-area: nav; }
.clubs { grid-area: clubs;}
.calender { grid-area: calender; background-color: greenyellow;}
.todo { grid-area: todo; background-color: antiquewhite;}
 */body{
    padding: 2vh;
    height: 100vh;
    background-color: #CFDCFF;
}
.main-container {
    /* display: grid;
    grid-template:
        'nav clubs clubs clubs clubs clubs clubs clubs calender calender calender calender calender'
        'nav clubs clubs clubs clubs clubs clubs clubs todo todo todo todo todo';
    grid-gap: 3vh 5vw; */
    border-radius: 20px;
    padding: 30px;
    height: 96vh;
    position: relative;
margin-left: 14vh;
    /* background-color:white; */
    display: flex;
    justify-content: space-around;
}
/* nav bar */
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-between;
    width: 4rem;
}
li{
    list-style: none;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 96vh;
    width: 10vh;
    padding: 60px 0;
    border-radius: 10px;
    background-color: #1D0E2C;
    position: fixed;
    
}
i{
    color: white;
    font-size: 1.3rem;
    margin: 0 10px;
}
/* general */
.clubs,.calender,.todo{
    border-radius: 10px;
    background-color: white;

}
.club_info{
    position: relative;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}
.club_info::-webkit-scrollbar {
    display: none;
  }
h3{
    text-align: center;
}
.clubs h3{
 padding: 5px;
 color: white;
}
.title{
    height: fit-content;
    width: 100%;
    padding: 10px;
    position:absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-button{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #43B0F1;
    color: white;
    transition: background-color 200ms ease-in-out;

}
.add-button:hover{
    background-color: aqua;
    transition: background-color 300ms ease-in-out;
}
.title,.footer{
    background-color: #1D0E2C;
    z-index: 2;
}

.footer{
    height: fit-content;
    
    width: 100%;
    padding: 5px;
    position:absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
 }
 .footer button{
    border: none;
    border-radius: 15px;
    font-weight: 700;
    padding: 5px 10px;
    margin: 0 2vh;
    width: fit-content;
    min-width: 80px;
    color:#1D0E2C;
    font-size: 15px;
    display: none;
 }
 button:nth-child(1){
    background-color: #B1E0FB;
 }
 button:nth-child(2){
    background-color: #FFADAD;
 }
 button:nth-child(3){
    background-color: #D3F6B6;
 }
/* clubs */
.clubs{
    width: 100%;
   padding: 20px 40px;
   padding-top: 70px;
   margin: 40px;
   box-sizing: content-box;
   position: relative;
    border: 2px solid #1D0E2C;
}
.club{
    background-color: #5E87F5;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 80px;
    height: 80px;
    background-color: #CFDCFF;
    border-radius: 50%;
}
.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* right */
.right{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
}
.calender{
    height: 300px;
    min-width: 300px;
    margin-bottom: 20px;
    background-color: #1D0E2C;
}
.todo{
    background-color: #1D0E2C;
    position: relative;
    height:fit-content;
    min-width: 250px;
}
.right h3{
    color: white;
}

.todo p{
    color: white;
}
