.section .main-container{
    margin: auto;
    width: 40vw;
}

.section{
    font-size: 20px;
    font-weight: 600;
    color: white;
}


.section{

    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.line{
   
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.line input,textarea{
    width: 20vw;
    height: 40px;
}
.line textarea{
    resize: none;
    height: 100px;
}
.modifier {
    display: block;
    margin: 10px 0 0 auto;
    padding: 5px 10px;
    color: white;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.7px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #1D0E2C;
    background-color: transparent;
    /* text-decoration: underline; */
    font-size: 20px;
}
