

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}body{
    padding: 2vh;
    height: 100vh;
    background-color: #CFDCFF;
}
.svg{
    width: 20px;
    height: 20px;
}
.main-container {
    border-radius: 20px;
    padding: 30px;
    height: 96vh;
    position: relative;
    margin-left: 14vh;
    /* background-color:white; */
    display: flex;
    justify-content: space-around;
}
/* nav bar */

/* general */
.clubs,.todo{
    border-radius: 10px;
    background-color: white;

}
.club_info{
    position: relative;
    top: 0;
    height: 100%;
    overflow-y: scroll;
}
.club_info::-webkit-scrollbar {
    display: none;
  }
h3{
    text-align: center;
}
.clubs h3{
 padding: 5px;
 color: #1D0E2C;
}
.title{
    height: fit-content;
    width: 100%;
    padding: 10px 40px;
    border-radius: inherit;
    position:absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-button{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #5E87F5;
    fill: white;
    cursor: pointer;
    transition: background-color 600ms ease-in-out;

}
.club:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.add-button:hover{
    background-color: #1D0E2C;
    transition: background-color 600ms ease-in-out;
}
.title,.footer{
    background-color: white;
    z-index: 2;
}

.footer{
    height: fit-content;
    border-radius: inherit;
    width: 100%;
    padding: 5px;
    position:absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
 }
 .footer button{
    border: none;
    border-radius: 15px;
    font-weight: 700;
    padding: 5px 10px;
    margin: 0 2vh;
    width: fit-content;
    min-width: 80px;
    color:#1D0E2C;
    font-size: 15px;
    display: none;
 }
/*  button:nth-child(1){
    background-color: #B1E0FB;
 }
 button:nth-child(2){
    background-color: #FFADAD;
 }
 button:nth-child(3){
    background-color: #D3F6B6;
 } */
/* clubs */
.clubs{
    width: 100%;
   padding: 20px 40px;
   padding-top: 70px;
   margin: 0 40px;
   box-sizing: content-box;
   position: relative;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
}
.club{
    background-color: #5E87F5;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.logoimg{
    margin: 10% 10%;
    height: 80%;
    width: auto;
}
.logo{
    width: 80px;
    height: 80px;
    background-color: #CFDCFF;
    border-radius: 20%;
}
.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* right */
.right{
    width: auto;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:  0 40px;
}
.calender{
    height: 300px;
    min-width: 320px;
    margin-bottom: 20px;
   
}
.todo{
    background-color: white;
    position: relative;
    height:fit-content;
    min-width: 320px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.right h3{
    color: #1D0E2C;
}

@media screen and (max-width: 750px) {
    .main-container{
        flex-direction: column;
        align-items: center;
        height: unset;
    }
}
@media screen and (max-width: 415px) {
    .main-container{
        flex-direction: column;
        align-items: center;
        height: unset;
        padding: 0 30px;
        margin-left: 10vh;
    }
    .nav{
        width: 8vh;
    }
    .clubs{
        margin: 0;
        height: 50vh;
    }
}

.todo .header{
    border-radius: inherit;
    height: 40px;
    margin-bottom: 20px;
}
.todo input{
    height: 100%;
    width: 80%;
    position: absolute;
    padding: 5px;
    border: none;
}
.todo .add-button{
    position: absolute;
    right: 0;
}
.todo button{
    border: none;
}
.add-todo{
    width: 100%;
    height: 100%;
    position: relative;
}

.todos p{
    color: #1D0E2C;
}
.todos i{
    color: #1D0E2C;
}
.task i{
    color: #1D0E2C;
}
.task{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
}
.todo ul{
    width: 100%;
}

i,svg{
    cursor: pointer;
}

