* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    background:  linear-gradient(155.11deg, #1D0E2C 0%, #2D2C5E 19.71%, #3D4B91 36.38%, #4E69C3 53.46%, #5E87F5 68.63%);
}
main{
    display: flex;
    flex-direction: column;
    
}
section{
    margin-bottom: 2rem;
}
.navbar{
    display: flex;
    justify-content:space-between;
    
    padding: 1rem 2rem;
    }
.youcode_logo{
    text-align: right;
}
.youcode_logo img{
    width: 12rem;
    
}
.Sign_up{
  width: 2rem;
  height: 2rem;

}
.events{
    background-image: url(../image/event_of_week.png);
    background-repeat: no-repeat;
    width: 80%;
    background-position: center;
    background-size: cover;
    height: 20rem;
    left: 10%;
    top: 5rem;
    margin: 0 auto;
    display: flex;
    
    align-items: flex-end;

    
}
.events p{
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    width: 100%;
}
.clubs{
    display: flex;
    flex-direction: column;
    gap: 2rem ;
    padding-top: 2rem;
}
.club_card{
    background-image: url(../image/gaming.png);
    background-repeat: no-repeat;
    width: 80vw;
    background-position: top;
    background-size: cover;
    height: 20rem;
    cursor:pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}
.club_name {
    text-align: center;
    order: 2;
    letter-spacing: 4px;
    margin-left: auto;
    color: #ffffff;
    writing-mode: vertical-rl;
    text-orientation: upright;
 
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;

}
.hover_effect{
    order: 1;
    font-size:larger;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.left_card {
    margin-left: 0;
}

.hover_effect{
    width: 80%;
    display: none;
}
:is(.club_card:hover) .hover_effect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.club_name{
    background-color: #1D0E2C;
}
.right .hover_effect{
    order: 3;
}
.left{
    border-radius: 10px 0 0 10px;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;
}

.right{
    border-radius:  0 10px 10px 0 ;
    margin: 0 auto 0 0;
    display: flex;
    justify-content: left;
}
.hover_effect button{
    padding: 10px;
    background-color: #4E69C3;
    border-radius: 5px;
    border: none;
}
.hover_effect button a{
    color: #fff;
    text-decoration: none;

}
/* end styling index page */

/* styling Sign_up page */

.SignUp_form{
    padding: 5% 0;
    flex-direction: column;
    background-color: #4E69C3; 
    border-radius: 20px;
    height: 20rem;
    width: 60vw; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.SignUp_form input{
    
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 50%;
    height: 3rem;
}
 #login_btn{
    width: 20%;
    background-color: #1D0E2C;
    color: #fff;
} 
/* styling club page */
.club_container{
    margin:  auto 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.club_title{
 
width: 80vw;
height: 3rem;
left: 0px;
top: 872px;
margin-left: 0;
background:#1D0E2C;
color: #fff;
border-radius: 0px 90px 10px 0px;
padding-top: 3px;
}
.img_club{
    background-image: url(../image/event_of_week.png);
    background-repeat: no-repeat;
    width: 95%;
    background-position: center;
    background-size: cover;
    height:25rem;
    border-radius: 12px;
    top: 5rem;
    margin: 0 auto;
    display: flex;
    align-items: flex-end; 
}
.demande{
    margin-top: 2rem;
    margin-left: 82vw;
}
.demande_btn{
    width: 6rem;
    height:2.5rem;
    padding: 2px;
    border-radius: 5px;
    border: none;
    background-color: #2D2C5E;
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.about_club{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    gap:2rem;
}
.club_desc{
    background: white;
    width: 60vw;
    border-radius: 20px;
    padding: 10px 10px;

}
.club_membres{
    width: 30vw;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}
.club_membres li{
    list-style-type: none;
}
.galerie{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 2rem;


}
.activite{
    background: url(../image/activite.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer; 
    width: 20rem;
    height: 20rem;
    border-radius: 12px;
    justify-items: flex-end;
    align-items: flex-end;
}
.activite:hover { 
  background:#2d2c5ed5;
  opacity: 13;
}

.activite{
    transition: 0.3s;
    transform: translateY(-20px);
}
.activite:hover h3 , .activite:hover p{ 
   transform: translateY(0);
}
 .activite h3{
    color: white;
    text-align: center;
    display: none;
    margin: 5px auto ;
}
.activite p{
    padding: 10px;
    color: white;
    font-size: medium;
    text-align: center;
    justify-self: unset;
    display: none;
}
:is(.activite:hover) h3{
   display: block;
}  
:is(.activite:hover) p{
    display: block;
 }  